.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .card {
    margin: 30px auto;
    width: 800px;
    height: 200px;
    border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
  }
  
  .card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
  }
  
  .card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
  }
  
  .card .card_title {

    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: 10%;
    height: 40px;
    width: fit-content;
    margin-left: 10%;
  }
  
  .card:hover {
    transform: scale(1, 1);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      5px 5px 30px 15px rgba(0,0,0,0.22);
  }
  
  .title-white {
    color: white;
  }
  
  .title-black {
    color: black;
  }
  
  @media all and (max-width: 500px) {
    .card-list {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }
  
  
  .Montant{
    border-radius: 40px;
    height: 28px;
   
  }
  .Montant-cont{
/*    margin-top: -5%;*/
    margin-left: 50%;
  }
  
  input[type=checkbox] {
    line-height: normal;
    width: 30px;
    height: 30px;
    margin-top: 12%;
    margin-left: 4%
}
.button{
    background-image: white;  /* #317B22 */
    border-radius: 40px;
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    width: 10%;
    height: 40px;
    font-size: medium ;
    margin-left: 68%;
}
.monant-sub {
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -9%;
    margin-left: 50%;

}
  /*
  .card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    transition: 0.4s;
  }
  */